.headerContainer{
    display: flex;
    padding : 1rem 2rem;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}
.logoContainer{
    height: 100px;
    width: 100px;
}
.logo{
    width: 100%;
}
.navBar > ul{
    display: flex;
    gap:3rem
}
.navBar > ul > li{
    list-style-type: none;
    font-size: 1.2rem;
}
.card{
    padding: 0.5rem 0.8rem;
    margin-top: 2rem;
    width: 200px;
    background-color: lightgrey;
}
.card:hover{
    border: 1px solid black;
    cursor: pointer;
} 
.cardImage{
    width: 190px;
    height: 150px;
}
.cardContainer , .shimmer-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.ShimmerCard{
    padding: 0.5rem 0.8rem;
    margin-top: 2rem;
    width: 200px;
    background-color: lightgrey;
    height: 324px;
}

.bodyPart1{
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
}
.restroBox{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2%;
}
.cuisines{
    color: #FF5200;
    text-decoration: underline;
}